.photo{
    z-index: 5;
    position: absolute;
    background-color: #2882A0;
    width: 88vh;
    height: 88vh;
    border-radius: 50%;
    top: 20vh;
    left: -35vh;

    overflow: hidden;
    
    
    img{
        z-index: 5;
        position: relative;
        left: 35vh;
        height: 85vh;
    }
}